In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
#Ignore warnings created while preparing charts

import warnings
warnings.filterwarnings("ignore")

In [4]:
countries = pd.read_csv("noc_regions.csv")
medals = pd.read_csv("athlete_events.csv")

In [5]:
medals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [6]:
medals.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [7]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NOC     230 non-null    object
 1   region  227 non-null    object
 2   notes   21 non-null     object
dtypes: object(3)
memory usage: 5.5+ KB

In [8]:
#Merging dataframes ot get countrinames against medal counts
df = pd.merge(medals, countries, on = 'NOC')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270767 entries, 0 to 270766
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      270767 non-null  int64
 1   Name    270767 non-null  object
 2   Sex     270767 non-null  object
 3   Age     261305 non-null  float64
 4   Height  210684 non-null  float64
 5   Weight  207982 non-null  float64
 6   Team    270767 non-null  object
 7   NOC     270767 non-null  object
 8   Games   270767 non-null  object
 9   Year    270767 non-null  int64
 10  Season  270767 non-null  object
 11  City    270767 non-null  object
 12  Sport   270767 non-null  object
 13  Event   270767 non-null  object
 14  Medal   39774 non-null   object
 15  region  270746 non-null  object
 16  notes   5039 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 37.2+ MB

In [9]:
#Selecting only the required columns
agg_df = df[['Year','Medal','region']].copy()
agg_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270767 entries, 0 to 270766
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Year    270767 non-null  int64
 1   Medal   39774 non-null   object
 2   region  270746 non-null  object
dtypes: int64(1), object(2)
memory usage: 8.3+ MB

In [10]:
#Replacing no medals as 0
agg_df['Medal'].fillna(0, inplace = True)
agg_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270767 entries, 0 to 270766
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Year    270767 non-null  int64
 1   Medal   270767 non-null  object
 2   region  270746 non-null  object
dtypes: int64(1), object(2)
memory usage: 8.3+ MB

In [11]:
#Identifying the records with no region information
agg_df[agg_df['region'].isna()]

        Year Medal region
264737  2016     0    NaN
264738  2016     0    NaN
264739  2016     0    NaN
264740  2016     0    NaN
264741  2016     0    NaN
264742  2016     0    NaN
264743  2016     0    NaN
264744  2016     0    NaN
264745  2016     0    NaN
264746  2016     0    NaN
264747  2016     0    NaN
264748  2016     0    NaN
270680  1912     0    NaN
270681  1912     0    NaN
270682  2008     0    NaN
270683  2012     0    NaN
270684  2008     0    NaN
270685  2012     0    NaN
270686  2012     0    NaN
270687  2016     0    NaN
270688  2008     0    NaN

In [12]:
#Removing records having no information on region
agg_df.dropna(axis = 0, inplace = True)
agg_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270746 entries, 0 to 270766
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Year    270746 non-null  int64
 1   Medal   270746 non-null  object
 2   region  270746 non-null  object
dtypes: int64(1), object(2)
memory usage: 8.3+ MB

In [13]:
#Identifying overall medal counts
agg_df.Medal.value_counts()

0         230972
Gold       13371
Bronze     13291
Silver     13112
Name: Medal, dtype: int64

In [14]:
#Removing records with no medals
medals_df = agg_df[agg_df['Medal'] != 0]
medals_df

        Year   Medal   region
8       1998  Silver    China
10      1998  Bronze    China
11      2002  Bronze    China
12      1996  Silver    China
17      1984  Bronze    China
...      ...     ...      ...
270486  2008  Silver  Vietnam
270492  2016    Gold  Vietnam
270493  2016  Silver  Vietnam
270596  2000  Silver  Vietnam
270693  2016    Gold   Kosovo

[39774 rows x 3 columns]

In [15]:
#Creating pivot table with overall medal counts 
medals_df = medals_df.pivot_table(columns = 'region', index = 'Year', values='Medal', aggfunc = 'count')
medals_df

region,Afghanistan,Algeria,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Barbados,...,Uganda,Ukraine,United Arab Emirates,Uruguay,Uzbekistan,Venezuela,Vietnam,"Virgin Islands, US",Zambia,Zimbabwe
Year,,,,,,,,,,,,,,,,,,,,,
1896,NaN,NaN,NaN,NaN,3.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900,NaN,NaN,NaN,NaN,6.0,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1906,NaN,NaN,NaN,NaN,3.0,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1908,NaN,NaN,NaN,NaN,19.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1912,NaN,NaN,NaN,NaN,10.0,14.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1920,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1924,NaN,NaN,10.0,NaN,11.0,8.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN
1928,NaN,NaN,26.0,NaN,4.0,11.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN
1932,NaN,NaN,4.0,NaN,5.0,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1936,NaN,NaN,11.0,NaN,1.0,60.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1948,NaN,NaN,11.0,NaN,16.0,16.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
1952,NaN,NaN,6.0,NaN,20.0,11.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,14.0,NaN,1.0,NaN,NaN,NaN,NaN
1956,NaN,NaN,2.0,NaN,67.0,16.0,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN
1960,NaN,NaN,4.0,NaN,46.0,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1964,NaN,NaN,1.0,NaN,44.0,17.0,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1968,NaN,NaN,2.0,NaN,51.0,20.0,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1972,NaN,NaN,1.0,NaN,20.0,8.0,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976,NaN,NaN,NaN,NaN,23.0,8.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1980,NaN,NaN,NaN,NaN,13.0,13.0,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,15.0
1984,NaN,2.0,NaN,NaN,52.0,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,1.0,NaN
1988,NaN,NaN,13.0,NaN,35.0,13.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1992,NaN,2.0,2.0,NaN,57.0,35.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,NaN,NaN,NaN,4.0,12.0,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1996,NaN,3.0,20.0,2.0,132.0,3.0,1.0,5.0,NaN,NaN,...,1.0,34.0,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN
1998,NaN,NaN,NaN,NaN,1.0,20.0,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,NaN,5.0,20.0,1.0,183.0,4.0,3.0,11.0,NaN,1.0,...,NaN,35.0,NaN,1.0,4.0,NaN,1.0,NaN,NaN,NaN
2002,NaN,NaN,NaN,NaN,2.0,20.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,NaN,NaN,49.0,NaN,157.0,8.0,5.0,2.0,NaN,NaN,...,NaN,47.0,1.0,NaN,5.0,2.0,NaN,NaN,NaN,3.0
2006,NaN,NaN,NaN,NaN,2.0,30.0,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,1.0,2.0,51.0,6.0,149.0,3.0,7.0,7.0,NaN,NaN,...,NaN,31.0,NaN,NaN,6.0,1.0,1.0,NaN,NaN,4.0
2010,NaN,NaN,NaN,NaN,3.0,26.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,1.0,1.0,19.0,3.0,114.0,NaN,10.0,4.0,1.0,NaN,...,1.0,26.0,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN
2014,NaN,NaN,NaN,NaN,3.0,27.0,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,NaN,2.0,22.0,4.0,82.0,2.0,18.0,6.0,2.0,NaN,...,NaN,15.0,1.0,NaN,13.0,3.0,2.0,NaN,NaN,NaN

In [16]:
#Filling records with no medals as 0
medals_df.fillna(0, inplace = True)

In [17]:
medals_df

region,Afghanistan,Algeria,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Barbados,...,Uganda,Ukraine,United Arab Emirates,Uruguay,Uzbekistan,Venezuela,Vietnam,"Virgin Islands, US",Zambia,Zimbabwe
Year,,,,,,,,,,,,,,,,,,,,,
1896,0.0,0.0,0.0,0.0,3.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1900,0.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1904,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1906,0.0,0.0,0.0,0.0,3.0,9.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1908,0.0,0.0,0.0,0.0,19.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1912,0.0,0.0,0.0,0.0,10.0,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1920,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1924,0.0,0.0,10.0,0.0,11.0,8.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0
1928,0.0,0.0,26.0,0.0,4.0,11.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0
1932,0.0,0.0,4.0,0.0,5.0,7.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1936,0.0,0.0,11.0,0.0,1.0,60.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1948,0.0,0.0,11.0,0.0,16.0,16.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
1952,0.0,0.0,6.0,0.0,20.0,11.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,14.0,0.0,1.0,0.0,0.0,0.0,0.0
1956,0.0,0.0,2.0,0.0,67.0,16.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0
1960,0.0,0.0,4.0,0.0,46.0,9.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1964,0.0,0.0,1.0,0.0,44.0,17.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1968,0.0,0.0,2.0,0.0,51.0,20.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1972,0.0,0.0,1.0,0.0,20.0,8.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1976,0.0,0.0,0.0,0.0,23.0,8.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1980,0.0,0.0,0.0,0.0,13.0,13.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,15.0
1984,0.0,2.0,0.0,0.0,52.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0
1988,0.0,0.0,13.0,0.0,35.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1992,0.0,2.0,2.0,0.0,57.0,35.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1994,0.0,0.0,0.0,0.0,4.0,12.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1996,0.0,3.0,20.0,2.0,132.0,3.0,1.0,5.0,0.0,0.0,...,1.0,34.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0
1998,0.0,0.0,0.0,0.0,1.0,20.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000,0.0,5.0,20.0,1.0,183.0,4.0,3.0,11.0,0.0,1.0,...,0.0,35.0,0.0,1.0,4.0,0.0,1.0,0.0,0.0,0.0
2002,0.0,0.0,0.0,0.0,2.0,20.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2004,0.0,0.0,49.0,0.0,157.0,8.0,5.0,2.0,0.0,0.0,...,0.0,47.0,1.0,0.0,5.0,2.0,0.0,0.0,0.0,3.0
2006,0.0,0.0,0.0,0.0,2.0,30.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008,1.0,2.0,51.0,6.0,149.0,3.0,7.0,7.0,0.0,0.0,...,0.0,31.0,0.0,0.0,6.0,1.0,1.0,0.0,0.0,4.0
2010,0.0,0.0,0.0,0.0,3.0,26.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2012,1.0,1.0,19.0,3.0,114.0,0.0,10.0,4.0,1.0,0.0,...,1.0,26.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0
2014,0.0,0.0,0.0,0.0,3.0,27.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2016,0.0,2.0,22.0,4.0,82.0,2.0,18.0,6.0,2.0,0.0,...,0.0,15.0,1.0,0.0,13.0,3.0,2.0,0.0,0.0,0.0

In [18]:
pip install bar_chart_race

Collecting bar_chart_race
  Downloading bar_chart_race-0.1.0-py3-none-any.whl (156 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 156 kB 4.1 MB/s eta 0:00:01
Requirement already satisfied: matplotlib>=3.1 in /Users/jeyasriramesh/opt/anaconda3/lib/python3.8/site-packages (from bar_chart_race) (3.3.4)
Requirement already satisfied: pandas>=0.24 in /Users/jeyasriramesh/opt/anaconda3/lib/python3.8/site-packages (from bar_chart_race) (1.3.4)
Requirement already satisfied: python-dateutil>=2.1 in /Users/jeyasriramesh/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.1->bar_chart_race) (2.8.1)
Requirement already satisfied: numpy>=1.15 in /Users/jeyasriramesh/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.1->bar_chart_race) (1.20.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/jeyasriramesh/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.1->bar_chart_race) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/jeyasriramesh/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.1->bar_chart_race) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /Users/jeyasriramesh/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.1->bar_chart_race) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/jeyasriramesh/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.1->bar_chart_race) (2.4.7)
Requirement already satisfied: six in /Users/jeyasriramesh/opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=3.1->bar_chart_race) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /Users/jeyasriramesh/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->bar_chart_race) (2021.1)
Installing collected packages: bar-chart-race
Successfully installed bar-chart-race-0.1.0
Note: you may need to restart the kernel to use updated packages.

In [19]:
#Library for bar chart racing
import bar_chart_race as bcr

In [22]:
pip install ffmpeg

Collecting ffmpeg
  Downloading ffmpeg-1.4.tar.gz (5.1 kB)
Building wheels for collected packages: ffmpeg
  Building wheel for ffmpeg (setup.py) ... done
  Created wheel for ffmpeg: filename=ffmpeg-1.4-py3-none-any.whl size=6083 sha256=19923f8496d70115e7e71a3a73e7697d127473d0d13f411b77c9dc2a622f22f5
  Stored in directory: /Users/jeyasriramesh/Library/Caches/pip/wheels/30/33/46/5ab7eca55b9490dddbf3441c68a29535996270ef1ce8b9b6d7
Successfully built ffmpeg
Installing collected packages: ffmpeg
Successfully installed ffmpeg-1.4
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#Creating bar chart race of overall medals counts over years for 6 leading countries.
# period_length=2500 -> increasing period length slows down the transition and gives better readability
# steps_per_period=30 -> increasing frames per second displays a smooth transition
# n_bars = 6 -> I'm interested in only the top 6 countries 
# sort='desc' -> Display graph in descending order of medal count
# filename='olympics.mp4' -> Store the graph as a mp4 file in output folder

bcr.bar_chart_race(df=medals_df,filename='./olympics.mp4',n_bars = 6, steps_per_period=30, sort='desc',period_length=2500,  title= "Medals in Olympics")

In [24]:
#Displaying the video from the output folder

from IPython.display import Video

Video('./olympics.mp4')